/* Hide the actual checkbox */
.hidden-checkbox {
  display: none;
}

/* Style the label to look like a button */
.toggle-button {
  display: inline-block;
  border: black;
  background-color: pink;
  border-style: solid;
  cursor: pointer;
  
}

/* Initially hide the content */
.content-to-hide {
  display: none;
}

/* Show the content when the checkbox is checked */
#toggle:checked ~ .content-to-hide {
  display: block; /* Or display: flex, grid, etc., depending on your layout needs */
}